/* @font-face {
	font-family: neatFont;
	src: url(sansation_light.woff);
} */

body {
  background: linear-gradient(#2874a6, #b7950b, #c39bd3);
  text-align: center;
  font-family: Open Sans;
}

canvas {
	border: 2px solid;
	background: #1c2833;
}

ul {
	color: white;
	position: absolute;
	bottom: 520px;
	left: 400px;
	z-index: 1;
}

h3 {
	color: white;
	position: absolute;
	bottom: 624px;
	left: 648px;
	z-index: 1;

}