/* @font-face {
	font-family: neatFont;
	src: url(sansation_light.woff);
} */

body {
	background-image: linear-gradient(#32563b, #1c1c1c);
	background-size: 100vw 100vh; 
    text-align: left;
    font-family: Open Sans;
}

/* canvas {
	border: 2px solid;
	background: #1c2833;
}
*/

ul {
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
}

/*h3 {
    margin: 0px;
	padding: 0px;
	left: 30%;
	top: 5%;
	font-size: 200px;
	background: linear-gradient(#37ff00, #ef0000, #1602f4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: absolute;
	z-index: 1; 
*/
/*
    margin: 0px;
	padding: 0px;
    left: 30%;
    top: 1%;
    font-size: 200px;
    position: absolute;
    color: #ffe2f0;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;   
} 

h4 {
	margin: 0px;
	padding: 0px;
	left: 38.5%;
	top: 33.5%;
	position: absolute;
	font-size: 20px;
    position: center;
    color: #ffe2f0;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;   
} */

.Lobby-design {
	position: relative;
	left: 30%;
	top: 20%;
	width: 450px;
	height: 120px;
	border: 5px solid #00c5c9;
	background: #055e60;
	box-shadow: 0 0 18px 0 #77daff;
}

#letter-L {
	position: absolute;
	left: 0;
	top: -4px;
	width: 80px;
	height: 100%;
	border: 4px solid #00c5c9;
	background: #fff;
}

#letter-L::after {
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	width: 50px;
	height: 90px;
	background: #003c3d;
}

#letter-O {
	position: absolute;
	left: 93px;
	top: -4px;
	width: 80px;
	height: 100%;
	border: 4px solid #00c5c9;
	background: #fff;
}

#letter-O::after {
	position: absolute;
	content: "";
	right: 20px;
	top: 20px;
	width: 40px;
	height: 80px;
	background: #003c3d;

}

#letter-B {
	position: absolute;
	left: 186px;
	top: -4px;
	width: 80px;
	height: 100%;
	border: 4px solid #00c5c9;
	background: #fff;
}

#letter-B::before {
	position: absolute;
	content: "";
	right: 20px;
	top: 20px;
	width: 40px;
	height: 20px;
	background: #003c3d;
}

#letter-B::after {
	position: absolute;
	content: "";
	right: 20px;
	bottom: 20px;
	width: 40px;
	height: 20px;
	background: #003c3d;
}

#letter-B2 {
	position: absolute;
	left: 279px;
	top: -4px;
	width: 80px;
	height: 100%;
	border: 4px solid #00c5c9;
	background: #fff;
}

#letter-B2::before {
	position: absolute;
	content: "";
	right: 20px;
	top: 20px;
	width: 40px;
	height: 20px;
	background: #003c3d;
}

#letter-B2::after {
	position: absolute;
	content: "";
	right: 20px;
	bottom: 20px;
	width: 40px;
	height: 20px;
	background: #003c3d;
}

#letterB-part {
	position: absolute;
	right: 0;
	top: 43%;
	border-right: 20px solid #003c3d;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

#letterB-part2 {
	position: absolute;
	right: 0;
	top: 43%;
	border-right: 20px solid #003c3d;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

#letter-Y {
	position: absolute;
	left: 460px;
	top: -4px;
	width: 80px;
	height: 100%;
	border: 4px solid #00c5c9;
	background: #fff;
	box-shadow: 0 0 18px 0 #77daff;
}

#letter-Y2 {
	position: absolute;
	left: 35%;
	top: 0;
	border-top: 20px solid #003c3d;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

#letter-Y3 {
	position: absolute;
	left: 0;
	top: 20%;
	border-top: 25px solid transparent;
	border-left: 12px solid #003c3d;
	border-bottom: 15px solid transparent;
	border-right: 15px solid transparent;
}

#letter-Y4 {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 65px;
	width: 0;
	border-bottom: 90px solid #003c3d;
	border-left: 65px solid transparent;
} 

p {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;   
}

footer {
	position: absolute;
	top: 90%;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;   
}


.title {
	background:linear-gradient(#37ff00, #ef0000, #1602f4);
}

img {
	left: 23%;
	top: 50%;
	position: absolute;
	width: 15%;
	height: auto;
	border: 2px solid #28081c;
	box-shadow: 0 0 18px 0 #77daff;
}

#info {
	position: absolute;
	left: 94%;
	top: 3%;
	border: 2px solid #7f8c8d;
	background: white; 
	width: 45px;
	height: 25px;

}

/*Dropdown */
.dropbtn {
    /*background-color: #4286f4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; */
    background-color: #191919;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-width: 2px;
    border: solid white;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    vertical-align: middle;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: white;
	color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d6d6d6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.show {
	display:block;
} 

#volume {
	
}