body {
	background-size: cover;
	background: linear-gradient(#191919, #404951); 
	color: #fff;
	font-family: Open sans;
	font-size: 2em;
	text-align: center;
}

a {
	text-decoration: none;
}

canvas {
	border: solid .2em #aeb6bf;
	height: 90vh;
}

#tetris {
	margin: auto;
}

button {
	font-family: Open sans;
	font-size: 1em;
	float: left;
	text-align: center;
}

#volumeSlider {
	position: absolute;
	top: 60px;
	right: 30px;
} 

.altButtons {
	position: absolute;
	left: 10px;
	top: 40px;
}

/*.altButton {
	float: left;
	background-color: #4286f4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-width: 2px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    vertical-align: middle;
    width: 100px;
    height: 20px;
} */

.altButton2 {
	float: left;
	background-color: #191919;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-width: 2px;
    border: solid white;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    vertical-align: middle;
    width: 100px;
    height: 20px;
    margin: 1px;
}

.altButton2:hover {
	background-color: white;
	color: black;
}


#altStart {
	position: relative;
	left: 100px;
}


/*.altButton:hover {
	border-top-color: #28597a;
   	background: #28597a;
    color: #ccc; 
} */



/*.altButton:active {
	border-top-color: #1b435e;
	background: #1b435e;
}   */

li {
	text-align: center;
}

canvas {
	border: 1px solid;
	top: 26%;
	right: 50%;
	border-color: #fff;
	box-shadow: 0px 15px 12px #17202a;
}

#highscore {
	position: absolute;
	top: 215px;
	right: 0px;
}

#highTitle {
	position: absolute;
	top: -32px;
	right: 8px;
}

#myList {
	position: absolute;
	text-align: center;
	border: 2px solid;
	right: 8px;
	background-color: black;
	width: 200px;
	height: 300px;
}

#score {
	position: absolute;
	right: 49.1%;
	top: 182px;
	text-shadow: 2px 2px 5px red; 
}

h2 {
	border: 2px solid white;
	top: 350px;
	right: 50px;
	background: linear-gradient(#101419, #1e2a38);
	color: #ff30af;
}

h3 {
	position: absolute;
	border: 2px solid white;
	background-color: #28081c;
	width: 200px;
	font-size: 13px;
	top: 173px;
	right: 8px;
}

#paused {
	margin: auto;
	display: none;
	z-index: 3;
	left: 50%;
	top: 79%;
	border: 1px solid transparent;
	width: 100px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
}

#altStart {
	display: none;
}

.text {
	position: absolute;
	top: 508px;
	border: 2px solid #f7f7f7;
	width: 200px;
	height: 260px;
	right: 8px;
	background-color: #28081c;
} 

#easy {
	color: green;
}

#easy:hover {
	background-color: #254727;
}

#easy:active {
	background-color: #1c381e;
	color: #64d16a;
}


#medium {
	color: yellow;
}

#medium:hover {
	background-color: #827e3b;
}

#medium:active {
	background-color: #635f1e;
	color: #fff77a;
}


#hard {
	color: red;
}

#hard:hover {
	background-color: #823b3b;
}

#hard:active {
	background-color: #602a2a;
	color: #ed7b7b;
}







